// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Base colors - light to dark
$green1: #9cdb43;
$green2: #59c135;
$green3: #14a02e;
$pink1: #fef3c0;
$pink2: #fad6b8;
$pink3: #f5a097;
$pink4: #dc7b98;
$pink5: #bc4a9b;
$blue1: #1b65d2;
$blue1-invert: findColorInvert($blue1);
$red1: #c20013;
$red1-invert: findColorInvert($red1);
$yellow1: #ffd900;
$yellow1-invert: findColorInvert($yellow1);

// Set your colors
$primary: $green2;
$primary-invert: findColorInvert($primary);
$secondary: $pink3;
$secondary-invert: findColorInvert($secondary);
$tertiary: $green1;
$tertiary-invert: findColorInvert($tertiary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "blue": ($blue, $blue-invert),
    "red": ($red, $red-invert),
    "yellow": ($yellow, $yellow-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "tertiary": ($tertiary, $tertiary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$family-primary: 'Zilla Slab', serif;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";