$brand-color-1: #41b883;
$brand-color-2: #3b8070;
$brand-color-3: #35495e;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1220px;
$breakpoint-mini-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

@import 'elements/body.scss';
@import 'elements/headers.scss';
@import 'elements/paragraph.scss';
@import 'elements/links.scss';
@import 'elements/inputs.scss';
@import 'elements/buttons.scss';
@import 'elements/markdown.scss';
@import 'elements/code.scss';
@import 'components/util.scss';
@import 'components/nuxt.scss';
@import 'responsive.scss';