.util__flex {
  display: flex;
}

.util__flex-col {
  display: flex;
  flex-direction: column;
}

.util__flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.util__flex-center {
  justify-content: center;
  align-items: center;
}

.util__flex-start {
  justify-content: start;
}

.util__container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}