body {
  line-height: 1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}
@media screen and (max-width: 650px) { 
  body {
    font-size: 12px;
  }
}