pre.prettyprint.code-block__body {
  line-height: 28px;
  background: #fff;
  border: none;
  padding: 20px 40px 30px 40px;
  margin: 0 -20px -18px -20px;
  max-width: calc(100vw - 70px);
}

.code-block.container {
  width: 100%;
}