.header--large {
  font-size: 2.5em;
  margin: 40px 0;
  line-height: 1.6em;
  text-align: center;
}
.header--medium {
  font-size: 2em;
  margin: 32px 0;
  line-height: 1.6em;
  text-align: center;
}
.header--small {
  font-size: 1.5em;
  margin: 24px 0;
  line-height: 1.6em;
  text-align: center;
}

