.header--large {
  font-size: 40px;
  margin: 40px 0;
  text-align: center;
}
.header--medium {
  font-size: 28px;
  margin: 32px 0;
  text-align: center;
}
.header--small {
  font-size: 18px;
  margin: 24px 0;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .header--large, .header--medium, .header--small {
    margin-left: 0px;
  }
  .header--large {
    font-size: 28px;
    margin: 28px 0;
  }
  .header--medium {
    font-size: 20px;
    margin: 20px 0;
  }
  .header--small {
    font-size: 12px;
    margin: 12px 0;
  }
}