.markdown {
  .markdown__body {
    h1 {
      font-size: 2.5em;
      margin: 40px 0;
      line-height: 1.6em;
      text-align: center;
    }

    h2, h3 {
      font-size: 1.5em;
      margin-bottom: 40px;
      text-align: left;
      margin-left: 40px;
      position: relative;
      &::before {
        content: '>';
        position: absolute;
        left: -40px;
      }
    }

    p {
      margin-bottom: 20px;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      -ms-word-break: normal;
      word-break: normal;
    }

    ul {
      padding: 20px 40px;

      li {
        margin-top: 20px;
      }
    }
  }
}