.markdown {
  .markdown__body {
    h1 {
      font-size: 2.5em;
      line-height: 1.6em;
      text-align: center;
    }

    h2, h3 {
      font-size: 1.5em;
      text-align: left;
      margin-left: 40px;
      position: relative;
      &::before {
        content: '>';
        position: absolute;
        left: -40px;
      }
    }

    p {
      margin-bottom: 1.5em;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      -ms-word-break: normal;
      word-break: normal;
    }

    ul {
      margin-bottom: 1.5em;
    }
  }
}

.blog {
  .markdown__body {
    padding-left: 50px;
    padding-right: 50px;
  }
}